
/* photo container */
.style__mainContainer___3vB1T {
  height: 458px;
  width: 100% !important;
  overflow: scroll !important;
}

.style__leftButton___aIzMN {
  display: none;
}

.style__rightButton___2RWkr {
  display: none;
}

/* gen desc container */

/* agents container */
.Form__form-outer-container___3GPyx {
  margin-left: 150px;
}

/* similar homes container */