
@media screen and (max-width: 967px) {
body {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  /* position: fixed !important; */
  max-width: 100vw;
}

.xOut {
  margin-right: 10px;
}

.style__superNavContainer___1k93z {
  position: relative;
}

#photos {
  width: 100vw
}

.header {
  width: 100vw !important;
}

.containerMid {
  flex-direction: column;
  width: 100vw;
}

#similar-homes {
  height: 20%;
}

#mainContainer {
  overflow: visible !important;
  background-color: aliceblue !important;
}
.bigBOX {
  width: 100% !important;
}

/* pop up container */
#popContainer {
  width: 100vw;
  height: 100vh;
}
/* photo container */
.style__mainContainer___3vB1T {
  height: 458px;
  width: 100vw !important;
  overflow: scroll !important;
}

.style__photoContainer___3Dk2Y {
  width: 100vw;
}

.style__leftButton___aIzMN {
  display: none;
}

.style__rightButton___2RWkr {
  display: none;
}

/* gen desc container */

#styles__calculatorButton___1te8p {
  margin-right: 20px !important;
}
.styles__containerMain___lRtqU {
  width: 100vw !important;
  margin: 0 !important;
}

#gendesc {
  /* overflow: hidden; */
  width: 100vw;
}

#styles__calculatorMain___2v0RA {
  right: 21%;
}

.styles__containerTop___3ChHD {
  width: 100vw;
}

.styles__containerFacts___uLa38 {
  width: 100vw;
}

.styles__containerFactsItems___3mAzb {
  width: 100vw;
}

.styles__interiorContainerInterior___3NeMb {
  width: 100vw;
}
/* agents container */
.style__formOuterContainer___12WXq {
  margin: auto;
}

#form-service {
  width: 100vw;
}

/* similar homes container */
.style__similarHomesSlidesContainer__lQ0TP {
  flex-direction: column;
}

.similar-homes-container {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.style__similarHomesSeeAll__1uP5n {
  margin: auto !important;
}

.style__similarHomesHeader__1rbsb {
  display: flex;
  justify-content: center;
}

#similar-homes {
  width: 100vw;
}

.style__similarHomesCarousel__3gRr- {
  width: 100vw;
  justify-content: center;
}

/* background coloring */
body {
  background-color: aliceblue;
} 

.style__photoContainer___3Dk2Y {
  background-color: aliceblue;
}

.style__mainContainer___3vB1T {
  background-color: aliceblue;
}

.style__animationContainer___1Fd3E {
  background-color: aliceblue;
}

.sc-bdVaJa {
  background-color: aliceblue;
}
}

@media screen and (max-width: 950px) {
  .map-results-container {
    flex-direction: column;
  }
  .googleMapContainer {
    height: 50vh !important;
  }
  .style__results-container__142a4 {
    overflow-y: inherit !important;
  }
  #results {
    margin: auto;
  }
}

@media screen and (max-width: 635px) {
  .style__results-homes__3tpJi {
    justify-content: center;
  }
  #results {
    width: 100%;
  }

  .style__results-more-filters-dd__3tk6K {
    left: 40% !important
  }

  .style__results-quantity__blNFQ {
    margin-right: 18%;
  }

  .xOut {
    margin-right: 5px !important;
  }

  body {
    margin: 0;
  }

  .style__results-bottom-filter-bar__AS1Ne {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .style__results-bottom-filters__1MFEM {
    margin-bottom: 8px;
  }

  .style__results-page-bar__CtGC4 {
    justify-content: center;
    width: 100vw !important;
  }
/* 
  .style__results-buttons__1Ca8W {
    width: 100% !important;
  } */
}
.style__results-homes__3tpJi {
  width: 100vw;
}

.header {
  height: 40px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 972px;
  background-color: aliceblue;
  justify-content: space-between;
}

.zallowHeaderIMG {
  height: 30px;
}

#mainContainer {
  display: none;
}
body {
  overflow: hidden;
  height: 100%;
}

#popContainer {
  background-color: aliceblue;
}

#results {
  height: 100vh;
}

.style__results-container__142a4 {
  max-height: 100vh;
}

.map-results-container {
  display: flex;
}

.style__mainDiv___1iHSN {
  width: 100%;
}

.style__closeStyle___3apra {
  margin-left: 728.5px !important;
}

.style__closeStyle___3apra:hover {
  cursor: pointer;
}

.style__prev___1juZM:hover {
  cursor: pointer;
}

.style__next___ZiwjG{
  cursor: pointer;
}

.style__rightButton___2RWkr:hover {
  cursor: pointer;
}

.style__leftButton___aIzMN:hover {
  cursor: pointer;
}

.XBUTTON:hover {
  cursor: pointer;
  background-color: #272222;;
  color: white;
  opacity: .8;
}

.XBUTTON {
  font-size: 18px;
  outline: none;
  background-color: grey;
  opacity: .5;
  width: 40px;
  height: 40px;
}


.style__next___ZiwjG {
  margin-left: 942px !important;
}

.style__results-page-bar__CtGC4 {
  padding-bottom: 25% !important;
}

#mainContainer {
  width: 100vw;
  z-index: 1000;
  height: 100%;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  left: 0% !important;
  overflow: scroll;
}

.style__mainContainer___3vB1T {
  width: 100% !important;
}

.bigBOX {
  display: flex;
  margin: auto;
  width: 1000px;
  padding-top: 35px;
}
.googleMapContainer {
  width: 100% !important;
}
#map {
  margin-top: 20px;
  width: 100vw;
}

#style__mainDiv___1iHSN {
  width: 100%;
}

#photos {
  display: flex;
  justify-content: center;
}

#desc-form {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

#similar-homes {
  display: flex;
  justify-content: center;
  background-color: aliceblue
}

body {
  background-color: aliceblue;
} 

.style__photoContainer___3Dk2Y {
  background-color: aliceblue;
}

.style__mainContainer___3vB1T {
  background-color: aliceblue;
}

.style__animationContainer___1Fd3E {
  background-color: aliceblue;
}

.sc-bdVaJa {
  background-color: aliceblue;
}

.style__similarHomesHeader__1rbsb {
  display: flex;
  justify-content: center;
}

.containerMid {
  background-color: aliceblue;
  display: flex;
}